<h1>Hello, <%= current_user.email %>, you invited: <%= current_user.referal_count %></h1>

<div id="app">
<div class="loader"><span></span></div>
</div>

<template id="info">
  <div>
    Your balance: <span id="balance"></span>
  </div>
  <div>
    Referal link: <span id="referal_link"></span>
  </div>
</template>

<script>
function load() {
  const info = document.getElementById('info')
  const app = document.getElementById('app')
  const loader = app.getElementsByClassName('loader')[0]

  fetch('/api/v1/info')
    .then(response => response.json())
    .then(data => {
      info.content.getElementById('balance').innerHTML = data.balance
      info.content.getElementById('referal_link').innerHTML = data.referal_link


      app.replaceChild(info.content, loader)
    })
}
document.addEventListener('DOMContentLoaded', load)
</script>

<style>
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.loader span {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-right: 2px solid red;
  border-left: 2px solid red;
  border-radius: 20px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>