<!DOCTYPE html>
<html>
  <head>
    <title>AmitreeTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <nav>
      <h1>AmitreeTest</h1>
      <div class="divider"></div>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
